/* #032539 */
/* #1C768F */
/* #FBF3F2 */
/* #FA991C */

body{
    /* background-color: whitesmoke; */
    background-color: #FBF3F2;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #999;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #032539;
}

.navbar{
    background-color: #1C768F;
    font-weight: 700;
}
.navbar-brand{
    color: #FBF3F2;
    font-weight: 700;
    border-bottom: 5px solid transparent ;
}

.navbar-brand:hover{
    color: #FBF3F2;
    font-weight: 700;
    border-bottom: 5px solid #FA991C ;
    text-shadow: #FA991C 1px 0 10px
}

.nav-link{
    color: #FBF3F2 !important;
    border-bottom: 5px solid transparent ;
}

.nav-link:hover{
    border-bottom: 5px solid #FA991C ;
    color: #032539;
    font-weight: 900;
    text-shadow: #FA991C 1px 0 10px;
}

.small_info{
    border: 1px #1C768F solid;
}

.image_div{
    border: 1px #1C768F solid;
}

.card{
    background-color: white;
    border: 1px solid gray;
    
}

.card:hover{
    box-shadow: #FA991C 1px 0 10px;
}

.card-title{
    color: #FA991C;
}

.progress{
    border: 1px solid #FA991C;
}

.progress_bar_color{
    background-color: #FA991C ;
    color: #032539;
    font-size: 15px;
    font-weight: 700;
    
}
